@font-face {
    font-family: "Steelfish";
    src: url("fonts/SteelfishLt-Regular.woff") format('woff'),
         url("fonts/SteelfishRg-Bold.woff") format('woff');
}        

* {
    box-sizing: border-box;
}

html ::selection{
    color: var(--main);
    background-color: var(--second-main);
}

a:visited {
    color:  white;
}

ul {
    list-style-type: none;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Steelfish', sans-serif;
}

:root {
    font-size: 62.5%;
    --second-main: #F49C89;
    --main-text: #ECEEF8;
    --main: #34344E;
    --sub-text: #ffffff;
    --line-color: rgba(52, 52, 78, 0.50);
}  

header{
    font-size: 1.5rem;
    height: 100px;
}

.main-header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    padding: 16px 20px 17px;
    background-color: var(--main);
}
summary
.second-main-part ::selection{
    color: var(--second-main);
    background-color: var(--main);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main-header__link{
    color: var(--sub-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}
.main-header__sp{
    color: var(--sub-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}
.main-header__loc{
    color: var(--sub-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.main-header__span{
    padding-left: 10px;
}

.main-header__burger{
    display: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#open-button {
    background-color: #F49C89;
    font-weight: bold;
    font-size: 1.5rem;  
    height: 3rem;
    width: 7rem;
    border-radius: 10%;
}

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: #34344E; 
}

form {
    color: white;
    font-size: 25px;
}
input:user-valid {
    border-color: green;
    border-width: 4px;
}
input:user-invalid {
    border-color: red;
    border-width: 4px;
}
span{
    font-size: 1.3rem;
}
form button {
    background-color: #F49C89;
    border-radius: 10%;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-right: 3rem;
}

.error-message {
    color: red;
    font-size: 2rem;
}