* {
    box-sizing: border-box;
}
.button-1 {
    width: 100px;
    height: 100px;
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    background-color: blueviolet;
    margin-bottom: 100px;
}

.button-1-active {
    background-color: rgb(128, 0, 0);
    width: 100px;
    height: 100px;
    padding: 10px 20px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    margin-bottom: 100px;
}

.button-2{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(234, 255, 0);
    margin-bottom: 100px;
    margin-bottom: 100px;
}

.button-2-active {
    background-color: rgb(255, 0, 212);
}

.card{
    width: 200px;
    height: 400px;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
}

.card img{
    width: 200px;

}

#button-3 {
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(158, 227, 213);
}
.cart-icon-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
.product-bas{
    padding: 10px;
    width: 300px;
    position: relative;
    margin-bottom: 100px;
}
#cart-icon {
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    display: flex;
    align-items: center;
}
#clickCount{
    background-color: #e45151;
    color: #000000;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 13px;
    right: -26px;
}
#clear-basket{
    background-color: rgb(43, 255, 0);
    color: black;
}

.card-2{
    width: 280px;
    height: 350px;
    background-color: rgb(255, 0, 208);
    margin-top: 150px;
}
.card-2 ul{
    padding-top: 20px;
    display: flex;
    gap: 40px;
    list-style-type: none;
}
.card-2 li{
    width: 40px;
    height: 20px;
    background-color: blue;
    text-align: center;
}
.card-2 button{
    margin: 20px 20px 20px 65px;
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: aqua;
}

.coords{
    font-size: 20px;
    margin-top: 70px;
    background-color: aqua;
    padding: 5px;
    padding-left: 10px;
    width: 300px;
}
